* {
  margin: 0;
  padding: 0;
}

:root {
    --default: #b8edff;
    --rare: #5afe01;
    --no-skin-rare: #3fb201;
    --super-rare: #0271ff;
    --no-skin-super-rare: #004fb4;
    --epic: #d500ff;
    --no-skin-epic: #9500b3;
    --mythic: #ff1603;
    --no-skin-mythic: #b50e00;
    --legendary: #f9ff01;
    --no-skin-legendary: #afb300;
    --roboto: "Roboto", sans-serif;
}

.table-box {
  margin: 30px auto;
}

.table-row {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 10px auto;
  font-family: var(--roboto);
  background: transparent;
  padding: 12px 0px;
  color: #555;
  font-size: 13px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
  border-radius: 5px;
  position: relative;
}

.table-cell {
  display: table-cell;
  width: 30%;
  text-align: center;
  padding: 4px 0px;
  border-right: 1px solid #d6d4d4;
  vertical-align: middle;
}

.table-head {
  background: #8665f7;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
  color: #fff;
  font-weight: 600;
  position: sticky;
  top: 5px;
  z-index: 1;
  font-size: 15px
}

.table-head .table-cell {
  border-right: none;
}

.last-cell {
  border-right: none;
}

.brawler {
  font-family: var(--roboto);
  font-weight: 600;
}

.brawler:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 15px;
  left: 0;
  top: 0;
  border-radius: 5px 0 0 5px;
}

.amber:before,
.meg:before,
.chester:before {
    background-color: var(--no-skin-legendary) !important;

}

.byron:before,
.fang:before,
.eve:before,
.otis:before,
.buster:before,
.r-t:before,
.willow:before,
.chuck:before,
.charlie:before,
.mico:before,
.melodie:before {
    background-color: var(--no-skin-mythic) !important;
}

.nita:before,
.el-primo:before,
.poco:before,
.rosa:before {
    background-color: var(--no-skin-rare) !important;
}

.tick:before,
.bit:before,
.penny:before,
.jacky:before,
.gus:before {
    background-color: var(--no-skin-super-rare) !important;
}

.pam:before,
.frank:before,
.nani:before,
.griff:before,
.grom:before,
.bonnie:before,
.gale:before,
.ash:before,
.mandy:before,
.hank:before,
.larry:before,
.angelo:before {
    background-color: var(--no-skin-epic) !important;
}

.shelly:before {
  background-color: var(--default);
}

.nita:before,
.colt:before,
.bull:before,
.brock:before,
.el-primo:before,
.barley:before,
.poco:before,
.rosa:before {
  background-color: var(--rare);
}

.jessie:before,
.dynamike:before,
.tick:before,
.bit:before,
.rico:before,
.darryl:before,
.penny:before,
.carl:before,
.jacky:before,
.gus:before {
  background-color: var(--super-rare);
}

.bo:before,
.emz:before,
.stu:before,
.piper:before,
.pam:before,
.frank:before,
.bibi:before,
.bea:before,
.nani:before,
.edgar:before,
.griff:before,
.grom:before,
.bonnie:before,
.gale:before,
.colette:before,
.belle:before,
.ash:before,
.lola:before,
.sam:before,
.mandy:before,
.maisie:before,
.hank:before,
.pearl:before,
.larry:before,
.angelo:before {
  background-color: var(--epic);
}

.mortis:before,
.tara:before,
.gene:before,
.max:before,
.mr-p:before,
.sprout:before,
.byron:before,
.squeek:before,
.lou:before,
.ruffs:before,
.buzz:before,
.fang:before,
.eve:before,
.janet:before,
.otis:before,
.buster:before,
.grey:before,
.r-t:before,
.willow:before,
.doug:before,
.chuck:before,
.charlie:before,
.mico:before,
.melodie:before {
  background-color: var(--mythic);
}

.spike:before,
.crow:before,
.leon:before,
.sandy:before,
.amber:before,
.meg:before,
.surge:before,
.chester:before,
.cordelius:before,
.kit:before {
  background-color: var(--legendary);
}

.brawler {
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rare,
.super-rare,
.epic,
.mythic,
.legendary {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 600;
  color: #777;
  padding-left: 15px;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 50px; */
}

input {
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #f1f1f1;
  background-color:#fff;
  color: #555;
  font-family: var(--roboto);
}

#search-icon {
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter {
  width: 38px;
  height: 38px;
  background-color: #fff;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  position: relative;
}

.filter:before {
  content: "A-Z";
  position: absolute;
  font-family: var(--roboto);
  font-weight: 600;
  top: 50%;
  left: 50%;
  width: 120%;
  transform: translate(-30%, -50%);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.table-box img {
  max-height: 130px;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
