* {
  margin: 0;
  padding: 0;
}

:root {
  --default: #b8edff;
  --rare: #5afe01;
  --no-skin-rare: rgba(63, 178, 1, 0.3);
  --super-rare: #0271ff;
  --no-skin-super-rare: rgba(0, 79, 180, 0.3);
  --epic: #d500ff;
  --no-skin-epic: rgba(149, 0, 179, 0.3);
  --mythic: #ff1603;
  --no-skin-mythic: rgba(181, 14, 0, 0.3);
  --legendary: #f9ff01;
  --no-skin-legendary: rgba(175, 179, 0, 0.3);
  --roboto: "Roboto", sans-serif;
  --no-skin: rgba(0, 0, 0, 0.1);
}

html {
  scroll-behavior: smooth;
}

.table-box {
  margin: 30px auto;
}

.table-row {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 10px auto;
  font-family: var(--roboto);
  background: transparent;
  padding: 12px 0px;
  color: #555;
  font-size: 13px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
  border-radius: 5px;
  position: relative;
}

.table-cell {
  display: table-cell;
  width: 30%;
  text-align: center;
  padding: 4px 0px;
  border-right: 1px solid #d6d4d4;
  vertical-align: middle;
}

.table-head {
  background: #8665f7;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 50, 0.3);
  color: #fff;
  font-weight: 600;
  position: sticky;
  top: 5px;
  z-index: 1;
  font-size: 15px;
}

.table-head a {
  color: #fff;
}

.table-head .table-cell {
  border-right: none;
}

.last-cell {
  border-right: none;
}

.brawler {
  font-family: var(--roboto);
  font-weight: 600;
}

.brawler:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 15px;
  left: 0;
  top: 0;
  border-radius: 5px 0 0 5px;
}

.amber:before,
.meg:before,
.chester:before {
  background-color: var(--no-skin-legendary) !important;
}

.byron:before,
.fang:before,
.eve:before,
.otis:before,
.buster:before,
.willow:before,
.chuck:before,
.mico:before,
.melodie:before,
.lily:before {
  background-color: var(--no-skin-mythic) !important;
}

.nita:before,
.rosa:before {
  background-color: var(--no-skin-rare) !important;
}

.tick:before,
.bit:before,
.penny:before,
.jacky:before,
.gus:before {
  background-color: var(--no-skin-super-rare) !important;
}

.pam:before,
.frank:before,
.nani:before,
.griff:before,
.grom:before,
.bonnie:before,
.gale:before,
.ash:before,
.mandy:before,
.hank:before,
.larry:before,
.angelo:before {
  background-color: var(--no-skin-epic) !important;
}

.shelly:before {
  background-color: var(--default);
}

.nita:before,
.colt:before,
.bull:before,
.brock:before,
.el-primo:before,
.barley:before,
.poco:before,
.rosa:before {
  background-color: var(--rare);
}

.jessie:before,
.dynamike:before,
.tick:before,
.bit:before,
.rico:before,
.darryl:before,
.penny:before,
.carl:before,
.jacky:before,
.gus:before {
  background-color: var(--super-rare);
}

.bo:before,
.emz:before,
.stu:before,
.piper:before,
.pam:before,
.frank:before,
.bibi:before,
.bea:before,
.nani:before,
.edgar:before,
.griff:before,
.grom:before,
.bonnie:before,
.gale:before,
.colette:before,
.belle:before,
.ash:before,
.lola:before,
.sam:before,
.mandy:before,
.maisie:before,
.hank:before,
.pearl:before,
.larry:before,
.angelo:before {
  background-color: var(--epic);
}

.mortis:before,
.tara:before,
.gene:before,
.max:before,
.mr-p:before,
.sprout:before,
.byron:before,
.squeek:before,
.lou:before,
.ruffs:before,
.buzz:before,
.fang:before,
.eve:before,
.janet:before,
.otis:before,
.buster:before,
.grey:before,
.r-t:before,
.willow:before,
.doug:before,
.chuck:before,
.charlie:before,
.mico:before,
.melodie:before {
  background-color: var(--mythic);
}

.spike:before,
.crow:before,
.leon:before,
.sandy:before,
.amber:before,
.meg:before,
.surge:before,
.chester:before,
.cordelius:before,
.kit:before {
  background-color: var(--legendary);
}

.brawler {
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#index .rare,
#index .super-rare,
#index .epic,
#index .mythic,
#index .legendary {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-weight: 600;
  color: #777;
  padding-left: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #f1f1f1;
  background-color: #fff;
  color: #555;
  font-family: var(--roboto);
  width: 300px;
}

#search-icon {
  cursor: pointer;
  transition: all 0.3s ease;
}

.filter {
  width: 38px;
  height: 38px;
  background-color: #fff;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  position: relative;
}

.first-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter:before {
  content: "A-Z";
  position: absolute;
  font-family: var(--roboto);
  font-weight: 600;
  top: 50%;
  left: 50%;
  width: 120%;
  transform: translate(-30%, -50%);
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px auto 0 auto;
}

.left-items {
  display: flex;
  gap: 10px; /* Voegt ruimte toe tussen de items */
}

.table-box img {
  max-height: 130px;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content img {
  margin: auto;
}

/* Scroll to top btn */
#scrollToTop {
  display: none; /* Verborgen by default */
  position: fixed; /* Maakt de knop vast op de plek */
  bottom: 20px; /* Positie van de knop */
  right: 30px;
  z-index: 99; /* Zorgt ervoor dat de knop bovenop andere elementen staat */
  border: none;
  outline: none;
  background-color: #f1f1f1;
  color: #777;
  cursor: pointer;
  padding: 15px;
  border-radius: 50vh;
  width: 40px;
  height: 40px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
}

#scrollToTop:hover {
  background-color: #f6f6f6; /* Voegt een hover effect toe */
  color: #777;
}

#scrollToTop i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: -3px;
  margin-left: 1px;
}

.linkabout a {
  color: #808080;
  font-family: var(--roboto);
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
  transition: all 0.3s ease;
}

.fa-solid.fa-magnifying-glass {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.hypercharge-skin {
  display: flex;
  align-items: center;
  margin: auto;
}

.hypercharge-skin img {
  max-height: 30px;
  margin: 10px;
  filter: drop-shadow(4px 4px 1px rgba(50, 50, 50, 0.3));
}

/* about page styling */

.block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 50px 60px;
  width: 35%;
  background-color: #e0f0ff; /* Verander dit */
  padding: 5px 10px;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  min-height: 365px;
  position: relative;
}
.block img {
  max-height: 200px;
  margin: 10px;
  background-color: transparent;
  border-radius: 7px;
  filter: drop-shadow(4px 4px 1px rgba(50, 50, 50, 0.3));
  /* box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.3); */
}

.block h2,
.block h3,
.block h4 {
  margin: 7px 10px 3px 10px;
  font-family: var(--roboto);
}

.block p {
  margin: 3px 10px 7px 10px;
  word-wrap: break-word;
  font-family: var(--roboto);
}

.block .gadgets,
.starpowers {
  width: 150px;
  height: 70px;
  margin: 10px 20px;
}

.block .gadgets img,
.starpowers img,
.hypercharge img {
  max-height: 50px;
  margin: 5px;
  padding: 2px;
}

.block .hyperalign {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block .hypercharge {
  width: 70px;
  height: 70px;
  margin: 5px;
}

.block .topitems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
}

.block .gadgetsandstarpowers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#about .rare::after, #about .super-rare::after, #about .epic::after, #about .mythic::after, #about .legendary::after{
  content: "";
  display: block;
  position: absolute;
  width: 10px; /* Pas de breedte aan naar wens */
  height: 100%; /* Pas de hoogte aan naar wens */
  right: 0;
  top: 0;
  border-radius: 0 7px 7px 0;
}

#about .rare::after {
  background-color: var(--rare);
}

#about .super-rare::after {
  background-color: var(--super-rare);
}

#about .epic::after {
  background-color: var(--epic);
}

#about .mythic::after {
  background-color: var(--mythic);
}

#about .legendary::after {
  background-color: var(--legendary);
}

#about:nth-child(2),
#about:nth-child(1) {
  margin-top: 50px;
}

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.dropdown-about {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content-about {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-about:hover .dropdown-content-about {
  display: block;
}

.dropdown-content-about span {
  color: #4ae100;
}

.dropdown-content-about h3 {
  color: #fbbc05;
}

a {
  color: #555;
  font-weight: 600
}

